apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaskdemo
  labels:
    app: flaskdemo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: flaskdemo
  template:
    metadata:
      labels:
        app: flaskdemo
    spec:
      containers:
        - name: flaskdemo
          image: salemghaleb/myflaskapp:9
          ports:
            - containerPort: 5000

---
apiVersion: v1
kind: Service
metadata:
  name: lb-service
spec:
  selector:
    app: flaskdemo
  ports:
    - port: 80
      targetPort: 5000

